@using ControleDeEstoque.Models
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<h1 class="text-center">
    Reset Password
</h1>
<form asp-action="ResetPassword" asp-controller="Login" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" asp-for="Email" class="form-control" id="email" aria-describedby="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" asp-for="Password" class="form-control" id="password">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">New Password:</label>
        <input type="password" asp-for="NewPassword" class="form-control" id="password">
    </div>
    <div>
        <span class="text-muted">Return to Login page: <a asp-action="Login" asp-controller="Login">Login</a></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>